.cards{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap:25px;
    margin-top:30px;
}
.card-info{
    background:var(--card);
    padding:30px;
    border-radius:var(--radius);
    box-shadow:var(--shadow);
    transition:.3s;
}
.card-info:hover{
    background:var(--cardHover);
    transform:translateY(-5px);
}
.numero{
    front-size:50px;
    margin-top:15px;
    font-weight:bold;
}
.azul{
    color:var(--azul);
}
.verde{
    color:var(--verde);
}
.laranja{
    color:var(--laranja);
}
.vermelho{
    color:var(--vermelho);
}