.form-group{
    margin-bottom:20px;
}

.form-control{
    width:100%;
    padding:12px;
    background:#111827;
    border:1px solid var(--borda);
    color:white;
    border-radius:10px;
}

.form-control:focus{
    outline:none;
    border-color:var(--azul);
}