.sidebar{

    position:fixed;

    top:0;

    left:-260px;

    width:260px;

    height:100vh;

    background:#111827;

    transition:.3s ease;

    z-index:1000;

}

.sidebar.ativo{

    left:0;

}
.content{

    margin-left:0;

    transition:.3s ease;

    padding:30px;

}

.content.menu-aberto{

    margin-left:260px;

}