.sidebar{
    width:250px;
    height:100vh;
    background:#111827;
    position:fixed;
    top:0;
    left:-250px; /* ESCONDIDO */
    transition:.3s ease;
    z-index:1000;
}

.sidebar.ativo{
    left:0; /* VISÍVEL */
}

.content{
    padding:30px;
    margin-left:0;
    transition:.3s;
}

.content.menu-aberto{
    margin-left:250px;
}

.menu a:hover{

    background:#1E293B;

    color:#38BDF8;
}