:root{

    --bg:#0B1120;
    --sidebar:#111827;
    --card:#1E293B;

    --text:#F8FAFC;
    --text-secondary:#94A3B8;

    --primary:#38BDF8;
    --success:#22C55E;
    --warning:#F59E0B;
    --danger:#EF4444;

    --border:#334155;
}

/* ===== BODY ===== */

.body{
    background:var(--bg);
    color:var(--text);
    font-family:'Segoe UI',sans-serif;
}

/* ===== CONTEUDO ===== */

.content{
    padding:30px;
    transition:.3s;
}

.content.menu-aberto{
    margin-left:250px;
}

/* ===== TITULO ===== */

.titulo-dashboard{
    margin-bottom:30px;
}

.titulo-dashboard h1{
    font-size:38px;
    font-weight:700;
    color:#fff;
}

.titulo-dashboard p{
    color:var(--text-secondary);
}

/* ===== CARDS ===== */

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.card-info{

    background:linear-gradient(
        145deg,
        #1E293B,
        #111827
    );

    border:1px solid rgba(255,255,255,.05);

    border-radius:18px;

    padding:25px;

    transition:.3s;

    box-shadow:
    0 10px 30px rgba(0,0,0,.30);
}

.card-info:hover{

    transform:translateY(-5px);

    box-shadow:
    0 15px 40px rgba(0,0,0,.40);
}

.card-info h5{

    color:var(--text-secondary);

    font-size:15px;

    margin-bottom:10px;
}

.numero{

    font-size:42px;

    font-weight:700;
}

.azul{
    color:var(--primary);
}

.verde{
    color:var(--success);
}

.laranja{
    color:var(--warning);
}

.vermelho{
    color:var(--danger);
}

/* ===== PAINEIS ===== */

.painel{

    margin-top:30px;

    background:linear-gradient(
        145deg,
        #1E293B,
        #111827
    );

    border-radius:20px;

    padding:25px;

    border:1px solid rgba(255,255,255,.05);

    box-shadow:
    0 10px 30px rgba(0,0,0,.30);
}

.painel h3{

    color:#ddd2d2;

    font-weight:600;
}

/* ===== TABELA ===== */

.table-dark{

    --bs-table-bg:transparent;
}

.table-dark th{

    color:#CBD5E1;

    border-color:#334155;
}

.table-dark td{

    color:#F8FAFC;

    border-color:#334155;
}

.table-hover tbody tr:hover{

    background:#263446;
}

/* ===== BADGES ===== */

.badge{

    padding:8px 12px;

    border-radius:8px;
}

/* ===== SCROLL ===== */

::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-track{
    background:#111827;
}

::-webkit-scrollbar-thumb{
    background:#334155;
    border-radius:10px;
}

::-webkit-scrollbar-thumb:hover{
    background:#475569;
}