:root{
    --bg:#0F172A;
    --card:#111827;
    --menu:#1E293B;

    --azul:#06B6D4;
    --verde:#22C55E;
    --laranja:#F59E0B;
    --vermelho:#EF4444;

    --texto:#F8FAFC;
}

body{
    background:var(--bg);
    color:var(--texto);
    font-family:'Segoe UI',sans-serif;
}

.content{
    padding:30px;
    transition:.3s;
}

.content.menu-aberto{
    margin-left:250px;
}

.titulo-dashboard{
    margin-bottom:30px;
}

.titulo-dashboard h1{
    font-size:38px;
    font-weight:700;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    margin-bottom:30px;
}

.card-info{
    background:var(--card);
    border-radius:18px;
    padding:25px;
    box-shadow:0 5px 20px rgba(0,0,0,.25);
}

.card-info h5{
    color:#94A3B8;
}

.card-info .numero{
    font-size:42px;
    font-weight:bold;
}

.azul{
    color:var(--azul);
}

.verde{
    color:var(--verde);
}

.laranja{
    color:var(--laranja);
}

.vermelho{
    color:var(--vermelho);
}

.painel{
    background:var(--card);
    border-radius:18px;
    padding:25px;
    margin-top:20px;
}

.table-dark{
    --bs-table-bg:#111827;
}