:root{

    /* Fundo */

    --bg:#0F172A;

    --sidebar:#111827;

    --card:#1E293B;

    --card-hover:#293548;

    --border:#334155;

    /* Texto */

    --text:#F8FAFC;

    --text-light:#94A3B8;

    /* Cores */

    --primary:#06B6D4;

    --success:#22C55E;

    --warning:#F59E0B;

    --danger:#EF4444;

    --white:#FFFFFF;

    /* Layout */

    --radius:18px;

    --transition:.3s ease;

    --shadow:
        0 10px 30px rgba(0,0,0,.30);

}